<!doctype html>
<html lang="en" ng-app="demoApp">
<head>
    <meta charset="utf-8">
    <title>Google Phone Gallery</title>

    <!--css classes-->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet">
    <link href="css/animations.css" rel="stylesheet">
    <link href="css/ui-grid.css" rel="stylesheet">
    <link href="css/nv.d3.css" rel="stylesheet">


    <!--base library-->
    <script src="lib/jquery.js"></script>
    <script src="lib/angular.js"></script>


    <!--routing support-->


    <!--grid library-->
    <script src="lib/uiGrid/ui-grid.js"></script>

    <!--graph library-->
    <script src="lib/d3/d3.js"></script>
    <script src="lib/d3/nv.d3.js"></script>
    <script src="lib/d3/angular-nvd3.js"></script>
    <script src = "lib/d3/angularjs-nvd3-directives.js" ></script>


    <!--common: file uploader-->
    <script src = "lib/uploader/ng-file-upload.js" ></script>


    <script src="js/services.js"></script>
    <script src="js/demo.js"></script>

    <!--<script src="lib/angular-route.js"></script>-->
    <!--<script src="lib/angular-resource.js"></script>-->
    <!--<script src="js/services.js"></script>-->
    <!--<script src="js/controllers.js"></script>-->
    <!--<script src="js/filters.js"></script>-->
    <!--<script src="js/app.js"></script>-->


</head>


<body ng-controller="demoController">


<button ng-controller="uploaderController" ngf-select ng-model="upFile" class="btn btn-primary"> click me for uploading data</button>
<button ng-click="updateData('json')" class="btn btn-primary"> click me for raw json</button>
<button ng-click="updateData('grid')" class="btn btn-primary"> click me for grid display</button>
<button ng-click="updateData('graph')" class="btn btn-primary"> click me for graph display</button>


<hr>


<div class="container-fluid">
    <div class="row">

        <!--simple data binding-->
        <div class="raw-json col-md-offset-1 col-md-10">

            <ul>
                <li ng-repeat="ele in jsonData track by ele.id">
                    {{ele | json}}
                </li>
            </ul>

        </div>

        <!--simple directive, alert!-->
        <alert typex=alert.type close="closeAlert($index)" ng-repeat="alert in alerts">
            {{alert.message}}
        </alert>


        <!--grid display example-->
        <div class="col-md-offset-1 col-md-10 ui-grid" ui-grid="{data: gridData}">
        </div>




        <!--&lt;!&ndash;simple directive pagination examples&ndash;&gt;-->
        <!--<pagination num-pages = "tasks.pageCount" current-page = "tasks.currentPage" on-select-page = "sayHello(pageX)">-->
        <!--</pagination>-->

        <!--&lt;!&ndash;simple directive transit examples&ndash;&gt;-->
        <!--<div class="col-md-offset-1 col-md-10" simple-transit>-->

        <!--Welcome to Beijing!-->

        <!--</div>-->


    </div>
    <input type="checkbox" ng-model="user.role" ng-true-value="'admin'" ng-false-value="'basic'"> {{user.role}}

    <select ng-options="item as item.label for item in values" ng-model="selected"> </select>


</div>


<!--graph display example-->
<div ng-controller="graphViewController">

    <div class="angular-nvd3-chart-container" ng-repeat='type in graphTypes'>
        <nvd3 options="options" data="graphData" ></nvd3>
    </div>

</div>




<!--<div nvd3-cumulative-line-chart-->

<!--class = "col-md-4"-->
<!--data="graphData"-->
<!--showXAxis="true"-->
<!--showYAxis="true"-->
<!--tooltips="true"-->
<!--showlegend="true"-->
<!--interactive="true"-->
<!--y = 'yScaling()'-->
<!--height="600"-->
<!--width="1000"-->
<!--useinteractiveguideline = 'true'-->
<!--xaxisstaggerlabels='true'-->
<!--xaxistickformat=axisFormatFactory('_Date')-->
<!--yaxistickformat=axisFormatFactory('_Percent')-->


<!--</div>-->




<!--<hr>-->
<!--<h1> form testing </h1>-->

<!--<div ng-controller="ExampleController">-->
<!--<form name="form" class="css-form" novalidate>-->
<!--Name:-->
<!--<input type="text" ng-model="user.name" name="uName" required="" />-->
<!--<br />-->
<!--<div ng-show="form.$submitted || form.uName.$touched">-->
<!--<div ng-show="form.uName.$error.required">Tell us your name.</div>-->
<!--</div>-->

<!--E-mail:-->
<!--<input type="email" ng-model="user.email" name="uEmail" required="" />-->
<!--<br />-->
<!--<div ng-show="form.$submitted || form.uEmail.$touched">-->
<!--<span ng-show="form.uEmail.$error.required">Tell us your email.</span>-->
<!--<span ng-show="form.uEmail.$error.email">This is not a valid email.</span>-->
<!--</div>-->

<!--Gender:-->
<!--<input type="radio" ng-model="user.gender" value="male" />male-->
<!--<input type="radio" ng-model="user.gender" value="female" />female-->
<!--<br />-->
<!--<input type="checkbox" ng-model="user.agree" name="userAgree" required="" />-->

<!--I agree:-->
<!--<input ng-show="user.agree" type="text" ng-model="user.agreeSign" required="" />-->
<!--<br />-->
<!--<div ng-show="form.$submitted || form.userAgree.$touched">-->
<!--<div ng-show="!user.agree || !user.agreeSign">Please agree and sign.</div>-->
<!--</div>-->

<!--<input type="button" ng-click="reset(form)" value="Reset" />-->
<!--<input type="submit" ng-click="update(user)" value="Save" />-->
<!--</form>-->
<!--<pre>form = {{user | json}}</pre>-->
<!--<pre>master = {{master | json}}</pre>-->
<!--</div>-->

<!--<hr>-->
<!--<h1> verification input form </h1>-->

<!--<form>-->
<!--<input ng-model="model.compareTo">-->
<!--<input ng-model="model.value" validate-equals="model.compareTo">-->
<!--<!--<input ng-model="model.value" validate-equals="model.compareTo">-->

<!--</form>-->


<!--<p> total number is <span ng-model="phones">{{phones.length}} </span></p>-->
<!--<p> Pattern is <span ng-model="query">{{query}} </span></p>-->
<!--<p> Order is <span ng-model="orderProp">{{orderProp}} </span></p>-->
<!--<pre>{{phones | filter:query | orderBy:orderProp | json}}</pre>-->


</body>


</html>