<!DOCTYPE html>
<html ng-app="demoApp">
<head lang="en">
    
    
    
    
    



    
    
    <meta charset="UTF-8">
    <title>viz testing</title>

    <link href="app/css/bootstrap.css" rel="stylesheet">
    <script src="lib/jquery.js"></script>
    <script src="lib/angular.js"></script>


    <!--routing support-->


    <!--grid library-->
    <script src="lib/uiGrid/ui-grid.js"></script>

    <!--graph library-->
    <script src="lib/d3/d3.js"></script>
    <script src="lib/d3/nv.d3.js"></script>
    <script src="lib/d3/angular-nvd3.js"></script>
    <script src = "lib/d3/angularjs-nvd3-directives.js" ></script>


    <!--common: file uploader-->
    <script src = "lib/uploader/ng-file-upload.js" ></script>


    <script src="js/services.js"></script>
    <script src="js/demo.js"></script>



</head>
<body ng-controller="demoController">


    <section class="alert-warning">

        demo for grid and graph display.

    </section>



    <button ng-controller="uploaderController" ngf-select ng-model="upFile" class="btn btn-primary"> click me for uploading data</button>
    <button ng-click="updateData('json')" class="btn btn-primary"> click me for raw json</button>
    <button ng-click="updateData('grid')" class="btn btn-primary"> click me for grid display</button>
    <button ng-click="updateData('graph')" class="btn btn-primary"> click me for graph display</button>


    <hr>



    <section class = 'table-demo'>

        table demo goes here:


        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Panel heading</div>
            <div class="panel-body">
                <p>...</p>
            </div>

            <!-- Table -->
            <table class="table">
                ...
            </table>
        </div>




        <hr>
           seperator...
        <hr>

        <div class="panel panel-default">

            <div class="panel-body">
                Panel content


            </div>





        </div>

        <div class="panel panel-default" style = "width: 250px">
            <div class="panel-heading">
                <h3 class="panel-title">Panel title</h3>
            </div>
            <!--<div class="panel-body">-->
                <!--Panel content-->
            <!--</div>-->


            <div class="list-group">
                <a href="#" class="list-group-item"> Cras justo odio</a>
                <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
                <a href="#" class="list-group-item">Morbi leo risus</a>
                <a href="#" class="list-group-item">Porta ac consectetur ac</a>
                <a href="#" class="list-group-item">Vestibulum at eros</a>
            </div>
        </div>



    </section>
    <!--<section class="pivot">-->

         <!--<div class="container-fluid">-->
         <!--<div class="row">-->
             <!--<div class="col-lg-offset-1 col-md-10" id = 'pivContainer'> viz here</div>-->


         <!--</div>-->
         <!--</div>-->


    <!--</section>-->


    <!--<div ng-controller="vizController">-->
        <!--<nvd3-cumulative-line-chart-->
                <!--data="exampleData"-->
                <!--id="showYAxisExample"-->
                <!--width="550"-->
                <!--height="350"-->
                <!--showXAxis="true"-->
                <!--showYAxis="false"-->
                <!--tooltips="true"-->
                <!--showlegend="true"-->
                <!--interactive="true"-->
                <!--useinteractiveguideline = 'true'-->
                <!--x="xFunction()"-->
                <!--y="yFunction()"-->
                <!--xAxisTickFormat="xAxisTickFormatFunction()"-->
                <!--margin="{left:70,top:70,bottom:70,right:150}">-->
            <!--<svg></svg>-->
        <!--</nvd3-cumulative-line-chart>-->
    <!--</div>-->
    <!--<div ng-controller="graphViewController">-->

    <div ng-controller="graphViewController">
        <div class="angular-nvd3-chart-container" ng-repeat='type in graphTypes'>
            <draw-graph c-type = '{{type}}' > GRAPH PLACEHOLDER </draw-graph>
        </div>
    </div>


</body>

<!--<script>-->

    <!--$(document).ready(function(){-->

        <!--$("#pivContainer").pivotUI(-->
                <!--[-->
                    <!--{color: "blue", shape: "circle"},-->
                    <!--{color: "red", shape: "triangle"}-->
                <!--],-->
                <!--{-->
                    <!--rows: ["color"],-->
                    <!--cols: ["shape"]-->
                <!--}-->
        <!--);-->



    <!--});-->

<!--</script>-->

</html>
