

<button ng-click="updateData('json')" class="btn btn-primary"> click me for raw json</button>
<button ng-click="updateData('grid')" class="btn btn-primary"> click me for grid display</button>
<button ng-click="updateData('graph')" class="btn btn-primary"> click me for graph display</button>
<hr>



<div class = "container-fluid">

<div class="row">
    <div class= "data-set-panel" style = "display: inline-block; max-width: 200px">
        <div ui-view></div>
    </div>

    <div class = "viz-panel" style = "display: inline-block; border: solid 1px #ff0000">
        viz content placeHolder
    <div ui-view = vizContent></div>
</div>

</div>

</div>


<div class = "dropzone-panel">drag and drop</div>
<div class = "filter-panel"> filter panel </div>




