<div class="container-fluid">
    <div class="row" style="height: 40px;">
        <select name="repeatSelect" ng-model="graphController.chartConfig.options.chart.type">
            <option ng-repeat="option in graphController.chartTypes" value="{{option}}">{{option}}</option>
        </select>

        <div class="btn-group pull-right" style="padding-top: 3px">
            <button ngf-select ng-model="upFile" class="btn btn-primary"> click me for uploading data</button>
            <button ng-click="dashboardController.updateData('json')" class="btn btn-primary"> click me for raw json</button>
            <button ng-click="dashboardController.updateData('grid')" class="btn btn-primary"> click me for grid display</button>
            <button ng-click="dashboardController.updateData('graph')" class="btn btn-primary"> click me for graph display</button>
        </div>
    </div>
</div>


<div class="container-fluid">

    <div class="row">
        <div class="data-set-panel col-sm-3 col-md-2 col-lg-2" style="display: inline-block; float: left; max-width: 240px; min-width: 50px">
            <div class="datasetInfo.container" style="height: 100%">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">数据集合</h3>
                    </div>
                    <div class="panel-body">
                        {{dashboardController.datasetInfo.name}}
                    </div>

                </div>
            </div>


            <div class="datasetInfo.container" style="height: 100%">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">类目</h3>
                    </div>


                    <div class="list-group" ng-repeat = 'attr in dashboardController.datasetInfo.attrs track by $index'>
                        <a href="#" class="list-group-item" ng-dblclick="dashboardController.updateTemplate(attr)"> {{attr.uName}} </a>
                    </div>
                </div>


                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">数值</h3>
                    </div>

                    <div class="list-group" ng-repeat = 'metric in dashboardController.datasetInfo.metrics track by $index'>
                        <a href="#" class="list-group-item" ng-dblclick="dashboardController.updateTemplate(metric)"> {{metric.uName}} </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="viz-panel col-sm-9 col-md-10 col-lg-10" style="display: inline-block; border: dashed 1px #cccccc; float: left">
            <div ui-view> </div>
        </div>

    </div>

</div>




<div class = "dropzone-panel">drag and drop</div>
<div class = "filter-panel"> filter panel </div>




